body{
background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height:10vh;
  max-height: 10vh;
  margin: 1vh;

}

.phrasesWrapper{
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  height: 95vh;
}

.ticker{
  background-color: black;
  width: 100vw;
  height:100vh;
  border-Radius:25px;
}


.logoFont{
  font-family:  'Faster One', sans-serif;
  padding-left: 2vw;
}


.myModal{
  text-align:center;
  width:80vw;
  height:80vh;
  background-color: white;
  box-shadow: inset -4px -4px  #bfb9b9;
  border-left: solid 1px black;
  border-top: solid 1px black;
  overflow: scroll;
  background-image: linear-gradient(135deg, #fae0b3 0%, #f28729 100%);
  margin-left: 10vw;
  margin-top: 10vh;

}

.add-btn{
  height: 10vh;
  width: 10vw;
}
.add-Btn-Container{
  text-align: right;
  padding-right: 2vw;

}
.options-btn{
  height: 10vh;
  width: 10vw;
  margin-left:1vw;
}

.ticker-text{
  font-size: 2vh;
  color: orange;
  white-space: pre;
}

.ticker-textgreen{
  font-size: 2vh;
  color: green;
  white-space: pre;
}

.ticker-textred{
  font-size: 2vh;
  color: red;
  white-space: pre;
}

.ticker-textblue{
  font-size: 2vh;
  color: blue;
  white-space: pre;
}

.ticker-textpurple{
  font-size: 2vh;
  color: purple;
  white-space: pre;
}

.ticker-textgold{
  font-size: 2vh;
  color: gold;
  white-space: pre;
}

.ticker-textorange{
  font-size: 2vh;
  color: orange;
  white-space: pre;
}

.rotated-Div-Wrapper{
  background-color: black;
  width:100vw;
  height: 100vh;
}

.rotated-Div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:100vw;
  white-space: pre;
  background-color: black;

}



.rotated-H1red{
  color: red;
  font-size: 45vh;
}

.rotated-H1blue{
  color: blue;
  font-size: 45vh;
}

.rotated-H1green{
  color: green;
  font-size: 45vh;
}

.rotated-H1orange{
  color: orange;
  font-size: 45vh;
}

.rotated-H1purple{
  color: purple;
  font-size: 45vh;
}

.rotated-H1gold{
  color: gold;
  font-size: 45vh;

}


.formWrapper{
  display: block;
  align-items: center;
  justify-content: center;
  height:50vh;
  width:77vw;
}

.inputHeader{
  text-align:center;

}

.speedHeader{
  text-align:center;
  margin-bottom: 0;
}

.styleHeader{
  text-align:center;
  margin-bottom: 0;
}

.speedDiv{
  display: inline-block;
  margin-top: 0;
}

.styleDiv{
  display: inline-block;
  margin-top: 0;
}

.speedSelect{
  display: inline-block;
}

.styleSelect{
  display: inline-block;
}

.deletebtn{
  height: 10vh;
  width: 10vw;
  margin: 1vw;
}

.savebtn{
  height: 10vh;
  width: 10vw;
  margin: 1vw;
}

.closebtn{
  height: 10vh;
  width: 10vw;
  margin: 1vw;
}


.phoneIconContainer{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height:5vh;
  max-height: 5vh;
  margin: 1vh;
}

.phoneIcon{
  position: relative;
  top:2vh;
  right:1vh;
  height: 10vh;
  width: 10vw;
  margin: 1vw;
  animation: spin 3s linear 1000;
  padding:1vh;

}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(90deg);
  }
  100{
    transform: rotateZ(0deg)
  }
}
